

.swiper{
    height: 100%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    overflow: hidden !important;
    margin-bottom: 20px!important;
}


.swiper-slide {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    
    
    
}

.swiper-pagination-bullet{
    background-color: #565656!important;
}

.swiper-pagination-bullet-active {
    background: #b20082!important;
    
}

